.u-section-1 .u-sheet-1 {
  min-height: 858px;
}

.u-section-1 .u-custom-html-1 {
  height: auto;
  min-height: 93px;
  margin-top: -43px;
  margin-bottom: 0;
}

.u-section-1 .u-text-1 {
  margin: 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 43px auto 0;
}

.u-section-1 .u-custom-html-2 {
  margin-top: 30px;
  margin-bottom: 0;
}

.u-section-1 .u-custom-html-3 {
  min-height: 407px;
  width: 506px;
  margin: 57px auto 0;
}

.u-section-1 .u-custom-html-4 {
  height: auto;
  min-height: 93px;
  margin-top: 0;
  margin-bottom: 40px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-custom-html-3 {
    height: auto;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-custom-html-1 {
    margin-top: -30px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -13px;
  }

  .u-section-1 .u-custom-html-3 {
    width: 340px;
  }

  .u-section-1 .u-custom-html-4 {
    margin-bottom: 27px;
  }
}